<h1>Edit</h1>

<form action="/movies/{{_id}}/edit" method="POST">
  <label>
    Title
    <input type="text" name="title" value="{{title}}">
  </label>
  <br>
  <label>
    Genre:
    <input type="checkbox" name="genre" value="Horror" {{setChecked genre 'Horror' }}> Horror
    <input type="checkbox" name="genre" value="Comedy" {{setChecked genre 'Comedy' }}> Comedy
    <input type="checkbox" name="genre" value="Drama" {{setChecked genre 'Drama' }}> Drama
    <input type="checkbox" name="genre" value="Sci-fi" {{setChecked genre 'Sci-fi' }}> Sci-fi
    <input type="checkbox" name="genre" value="Action" {{setChecked genre 'Action' }}> Action
    <input type="checkbox" name="genre" value="Documentary" {{setChecked genre 'Documentary' }}> Documentary
    <input type="checkbox" name="genre" value="Romance" {{setChecked genre 'Romance' }}> Romance
    <input type="checkbox" name="genre" value="Thriller" {{setChecked genre 'Thriller' }}> Thriller
    <input type="checkbox" name="genre" value="Fantasy" {{setChecked genre 'Fantasy' }}> Fantasy
  </label>
  <br>
  <label>
    Plot
    <input name="plot" value="{{plot}}">
  </label>

  <button class="btn btn-success" type="submit">Submit</button>
</form>

<br>
<a class="btn btn-primary btn-sm" href="/celebrities">back</a>